body {
  font-size: x-large !important;
  /* background-image: url('/images/games_background1.png'); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: center center; */
}
.nav-item {
  margin: 0px 10px;
}
