#practice-results-comp {
  .result-string{
    font-size: x-large;
    color: fuchsia;
    text-shadow: 1px 1px 3px cyan;
    text-align: left;
    margin: 5px 0px 0px 15px;
  }
  // .main-results-screen{
  //   width: 60%;
  //   height: 250px;
  //   background: #011326;
  //   margin: auto;
  //   box-shadow: 0px 0px 15px 1px magenta;
  //   overflow: scroll;
  // }
}
